<div class="view">
    <div class="container">
      <div class="row">
        <div class="col my-5 align-self-center ">
          <!--Card-->
          <mdb-card class="wow fadeInUp hoverable" data-wow-delay="0.3s">
            <mdb-card-body class="">
              <!--Card content-->
              <!--Title-->
              <p class="h1 display-1 card-title text-center">
                <strong>Instructions 📃</strong>
              </p>
              <hr>
              <h1>Marks Predictor</h1>
              <p class="text-monospace">Predicts marks of the student from the data given by the previous tests scores,
                namely, Term Test 1, 2, 3 and Assignment 1, 2.<br>
                1. Input your marks in proper numeric format, leave a 0 if you were absent for the exam <br>
                2. Add additional subjects if required by clicking on Add subject <br>
                3. Name the Subjects with their Subject name or the Course Code <br>
                4. Click on Predict and wait for the model to train and predict your marks <br>
              </p>
              <hr>
              <h1>Attendance Predictor</h1>
              <p class="text-monospace">Predicts the attendance of the student if the student has a possibility to be
                eligible from the current attendance percentage. <br>
                1. Input your current attended number of classes <br>
                2. Input the current total classes, which is number of classes you missed  + current attended <br>
                3. Input your target percentage attendance
                4. Input the total number of classes or at least approximate
                5. Click on Predict
              </p>
            </mdb-card-body>
          </mdb-card>
        </div>
      </div>
      
    </div>
</div>

